---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Buttons/Buttons.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Button label="Blog" type='I' url="/blog" />
</BaseLayout>