---
import Button from '../components/Buttons/Buttons.astro';
---

<style>
  .nav-links {
    display: flex;
    gap: 0.05rem;
    margin-top: 0rem;
  }
</style>

<div class="nav-links">
  <Button label="Home" type='F' url="/" />
  <Button label="About" type='C' url="/about" />
  <Button label="Blog" type='A' url="/blog" />
  <Button label="Project" type='H' url="/project" />

</div>
</div>